<!doctype html>
<html lang="ko">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,minimum-scale=1.0,initial-scale=1.0">
		<title>체질량지수 - BMI(비만도) 계산기 - 계산기</title>
	<meta name="author" content="아사마루">
	<meta name="keywords" content="비만도,신체질량지수,bmi,Body Mass Index,2020 비만치료지침">
	<meta name="description" content="신체질량지수 BMI(Body Mass Index)계산기. 체질량지수는 인간의 비만도를 나타내는 지수 중 하나로 체중과 키의 관계로 지방의 양을 추정한 것으로 체지방률 및 건강 위험도를 간접적으로 나타낸다.">
	<meta name="referrer" content="always">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="theme-color" content="#ee152b">
	<link rel="manifest" href="/manifest.json" />
	<link rel="shortcut icon" type="image/x-icon" href="https://calculator.asamaru.net/favicon.ico"/>
	<link rel="canonical" href="https://calculator.asamaru.net/계산기/건강/체질량지수-bmi-비만도/"/>
		<link href="//www.googletagmanager.com" rel="dns-prefetch"/>	
		<link href="//pagead2.googlesyndication.com" rel="dns-prefetch"/>
	<link href="//googleads.g.doubleclick.net" rel="dns-prefetch"/>
	<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8163803188491150" crossorigin="anonymous"></script>
	<script>
		(adsbygoogle = window.adsbygoogle || []).push({
			google_ad_client: 'ca-pub-8163803188491150',
			enable_page_level_ads: true
		});
	</script>
		<!--[if lt IE 9]><script src="//cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.min.js"></script><![endif]-->

	

	
	<meta name="HandheldFriendly" content="True">
	<meta name="MobileOptimized" content="320">

		
	
	<meta property="og:type" content="article">
	<meta property="og:site_name" content="계산기">
	<meta property="og:title" content="체질량지수 - BMI(비만도) 계산기">
	<meta property="og:description" content="신체질량지수 BMI(Body Mass Index)계산기. 체질량지수는 인간의 비만도를 나타내는 지수 중 하나로 체중과 키의 관계로 지방의 양을 추정한 것으로 체지방률 및 건강 위험도를 간접적으로 나타낸다.">
	<meta property="og:url" content="https://calculator.asamaru.net/계산기/건강/체질량지수-bmi-비만도/"/>
	<meta property="og:image" content="https://calculator.asamaru.net/res/img/icon/icon.png">
	<meta property="article:published_time" content="2021-11-03T10:14:15+0900">	<meta property="article:modified_time" content="2021-11-03T10:14:15+0900">			

	
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:site" content="@">
	<meta name="twitter:title" content="체질량지수 - BMI(비만도) 계산기">
	<meta name="twitter:description" content="신체질량지수 BMI(Body Mass Index)계산기. 체질량지수는 인간의 비만도를 나타내는 지수 중 하나로 체중과 키의 관계로 지방의 양을 추정한 것으로 체지방률 및 건강 위험도를 간접적으로 나타낸다.">
	<meta property="twitter:image" content="https://calculator.asamaru.net/res/img/icon/icon.png">
	

										<link rel="apple-touch-icon" sizes="180x180" href="/res/img/icon/180.png">
												<link rel="apple-touch-icon" sizes="76x76" href="/res/img/icon/76.png">
												<link rel="apple-touch-icon" sizes="120x120" href="/res/img/icon/120.png">
												<link rel="apple-touch-icon" sizes="152x152" href="/res/img/icon/152.png">
						
	<link rel="alternate" type="application/rss+xml" title="계산기" href="https://calculator.asamaru.net/atom.xml"/>

			<link href="/res/css/min/452e1a5ecce2e55976bdc833c548e477.css" type="text/css" rel="stylesheet" />

	 <script type="application/ld+json">{
    "@context": "http://schema.org",
    "@type": "Article",
    "headline": "체질량지수 - BMI(비만도) 계산기",
    "author": {
        "@type": "Person",
        "name": "아사마루"
    },
    "datePublished": "2021-11-03T10:14:15+09:00",
    "dateModified": "2021-11-03T10:14:15+09:00",
    "articleSection": "건강",
    "url": "https://calculator.asamaru.net/계산기/건강/체질량지수-bmi-비만도/",
    "image": {
        "@type": "ImageObject",
        "url": "https://calculator.asamaru.net/res/img/icon/icon.696.png",
        "width": 696,
        "height": 696
    },
    "publisher": {
        "@type": "Organization",
        "name": "아사마루",
        "logo": {
            "@type": "ImageObject",
            "url": "https://calculator.asamaru.net/res/img/icon/icon.60.png",
            "width": 60,
            "height": 60
        }
    },
    "mainEntityOfPage": {
        "@type": "WebPage",
        "@id": "https://calculator.asamaru.net/계산기/건강/체질량지수-bmi-비만도/"
    }
}</script> 
			
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-LP1PXLNX3W"></script>
		<script>
		  window.dataLayer = window.dataLayer || [];
		  function gtag(){dataLayer.push(arguments);}
		  gtag('js', new Date());

		  gtag('config', 'G-LP1PXLNX3W');
		</script>
	
	</head>
<body>
<header class="top">
	<div class="site-profile clearfix">
		<a href="https://calculator.asamaru.net" title="계산기 홈페이지로 이동"><img src="/res/img/icon/icon.png" width="50" height="50" alt="계산기"></a>
		<h1><a href="https://calculator.asamaru.net" title="계산기 홈페이지로 이동">계산기</a></h1>
					<p>일상생활에 필요한 다양한 계산기</p>
				<button type="button" id="btn-slide"></button>
	</div>
</header>
<section class="main-body clearfix">
<div class="main-box">
	<section id="main-panel">
			
	<article id="article" class="article hentry calculator">
		<div class="title">
			<h2 class="entry-title daum-wm-title">체질량지수 - BMI(비만도) 계산기</h2>
												<a href="https://calculator.asamaru.net/계산기/분야/건강/" rel="tag" title="건강 목록보기">건강</a>
										<time class="published hide" datetime="2021-11-03T10:14:15+0900">2021.11.03. 10:14</time>
			<time class="updated hide daum-wm-datetime" datetime="2021-11-03T10:14:15+0900">2021.11.03. 10:14</time>
			<span class="vcard author hide"><span class="fn">아사마루</span></span>
		</div>

		

		<div class="entry-content daum-wm-content">
			<section class="calculator">
	<p class="help">만 18세 이하의 소아청소년의 경우 <a href="/계산기/건강/소아청소년-체질량지수-bmi-비만도/">소아청소년 체질량지수 - BMI(비만도) 계산기</a>를 사용</p>

	<div class="form-box">
		<form class="calc" v-on:submit.prevent="calc">
			<fieldset class="container">
				<div class="sex">
					<label><input type="radio" name="sex" value="man" v-model="sex"/> 남자</label>
					<label><input type="radio" name="sex" value="woman" v-model="sex"/> 여자</label>
				</div>
				<div class="row">
					<div class="column height">
						<label>
							<span>신장</span>
							<input type="number" v-model="height"/>
						</label>
					</div>

					<div class="column weight">
						<label>
							<span>체중</span>
							<input type="number" v-model="weight"/>
						</label>
					</div>

					<div class="column age">
						<label>
							<span>나이</span>
							
							<select v-model="age">
								<option v-for="(option, index) in ages" v-bind:value="index">{{option}}</option>
							</select>
						</label>
					</div>
				</div>

				<div class="buttons">
					<input class="button button-primary" type="submit" value="계산">
					<input class="button button-outline" type="button" value="초기화" v-on:click="reset">
				</div>
			</fieldset>
		</form>

		<div class="results" v-cloak v-show="value > 0">
			
			<health-calculator-results
					title="BMI"
					:value="value"
					:data="gaugeData"
					guide-title="비만"
					v-on:update:grade="updateGrade"></health-calculator-results>
			<div class="notice">
				<span>{{sexName}}</span>({{ageName}}, 평균 : {{bmiAverage}}) 상위 <span>{{bmiPercent}}%</span> ({{grade}})
				<p>* 상위 {{bmiPercent}}%란, 동일 연령대 100명을 기준으로 작은 순을 1번으로 하였을 때 {{bmiPercent}}번째를 의미</p>
			</div>
			<div class="offer">
				<span><a href="http://www.kosso.or.kr/" target="_blank">대한비만학회</a> - 비만치료지침(2020),</span>
				<span><a href="http://www.srd.re.kr" target="_blank">국가참조표준센터</a> -
				<a href="http://www.srd.re.kr/db/srdDataInfoView.do?scid=S10008001001&sdid=17" target="_blank">지역별 한국인 남녀 20세 이상 체질량지수[전국]</a></span>
			</div>
		</div>
	</div>

	<div class="description">
		<p>
			<a href="/용어해설/건강/체질량지수-bmi/">체질량지수</a>는 인간의 비만도를 나타내는 지수 중 하나로 체중과 키의 관계로 지방의 양을 추정한 것으로 체지방률 및 건강 위험도를 간접적으로 나타낸다.
			<a href="http://www.kosso.or.kr/" target="_blank">대한비만학회</a>의 비만치료지침(2020)에 따르면 아래의 기준 조건으로 비만을 판정한다.
		</p>

		<ol>
			<li>성인 비만의 기준은 체질량지수 25 kg/㎡ 이상으로 한다.</li>
			<li>비만은 체질량지수 25.0~29.9 kg/㎡를 1단계 비만, 30.0~34.9 kg/㎡를 2단계 비만 그리고 35.0 kg/㎡ 이상을 3단계 비만(고도 비만)으로 구분한다.</li>
			<li>허리둘레로 측정한 복부 비만의 기준은 성인 남자에서는 90 cm 이상, 여자에서는 85 cm 이상으로 한다.</li>
		</ol>
	</div>

	<div class="gad-box">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle"
 style=""
 data-ad-client="ca-pub-8163803188491150"
 data-ad-slot="2371177971"
 data-ad-format="auto"></ins>
<script>
	(adsbygoogle = window.adsbygoogle || []).push({}); 
</script></div>

</section>



			
			<div class="share-sns twitter facebook googleplus band line kakaostory kakaotalk" data-kakao-api="a5a449c01651dea0336cf0e0d1fdc54c" data-facebook-app-id="1874593759230150"></div>

			
			<div class="nv-openmain" data-title="각종계산기" data-url="https://calculator.asamaru.net" data-type="W2"></div>
			<script async type="text/javascript" src="https://openmain.pstatic.net/js/openmain.js"></script>

			
												<h4 class="relate-calc">건강 관련 계산기</h4>
										<ul class="relate-calc clearfix">
													<li>
																																	<a href="https://calculator.asamaru.net/계산기/건강/체질량지수-bmi-비만도/" title="체질량지수 - BMI(비만도) 계산기" class="button-default">체질량지수 - BMI(비만도) 계산기</a>
							</li>
													<li>
																																	<a href="https://calculator.asamaru.net/계산기/건강/소아청소년-체질량지수-bmi-비만도/" title="소아청소년 체질량지수 - BMI(비만도) 계산기" class="button-default">소아청소년 체질량지수 - BMI(비만도) 계산기</a>
							</li>
													<li>
																																	<a href="https://calculator.asamaru.net/계산기/건강/표준체중/" title="표준체중 계산기" class="button-default">표준체중 계산기</a>
							</li>
													<li>
																																	<a href="https://calculator.asamaru.net/계산기/건강/허리둘레-신장-비율-WHtR/" title="허리둘레 / 신장 비율(WHtR) 계산기" class="button-default">허리둘레 / 신장 비율(WHtR) 계산기</a>
							</li>
													<li>
																																	<a href="https://calculator.asamaru.net/계산기/건강/허리둘레-엉덩이둘레-비율-WHR/" title="허리둘레 / 엉덩이둘레 비율(WHR) 계산기" class="button-default">허리둘레 / 엉덩이둘레 비율(WHR) 계산기</a>
							</li>
											</ul>
										</div>
		
		
	</article>
	</section>
</div>
<nav id="sidebar" class="slideout-menu">
	<div class="box">
														<h3>계산기</h3>
			
			
																<dl class="tags">
						<dt>분야</dt>
													<dd>
								<a href="https://calculator.asamaru.net/계산기/분야/가상화폐/" title="가상화폐 목록보기">
									가상화폐<span>(1)</span>
								</a>
							</dd>
													<dd>
								<a href="https://calculator.asamaru.net/계산기/분야/건강/" title="건강 목록보기">
									건강<span>(5)</span>
								</a>
							</dd>
													<dd>
								<a href="https://calculator.asamaru.net/계산기/분야/금융/" title="금융 목록보기">
									금융<span>(4)</span>
								</a>
							</dd>
													<dd>
								<a href="https://calculator.asamaru.net/계산기/분야/단위변환/" title="단위변환 목록보기">
									단위변환<span>(9)</span>
								</a>
							</dd>
													<dd>
								<a href="https://calculator.asamaru.net/계산기/분야/일반/" title="일반 목록보기">
									일반<span>(1)</span>
								</a>
							</dd>
											</dl>
							
			
														
			
															<h3>용어 해설</h3>
			
			
																<dl class="tags">
						<dt>분야</dt>
													<dd>
								<a href="https://calculator.asamaru.net/용어해설/분야/건강/" title="건강 목록보기">
									건강<span>(2)</span>
								</a>
							</dd>
													<dd>
								<a href="https://calculator.asamaru.net/용어해설/분야/단위/" title="단위 목록보기">
									단위<span>(2)</span>
								</a>
							</dd>
											</dl>
							
			
														
			
					
				
		
		<form action="https://www.google.com/search" method="get" target="_blank" class="form-search">
			<fieldset>
				<input type="hidden" name="sitesearch" value="https://calculator.asamaru.net">
				<legend>검색하기 폼</legend>
				<label>검색하기</label>
				<input type="text" name="q" value="" placeholder="Search"/>
			</fieldset>
		</form>

		
					<ul class="links">
									<li><a href="https://calculator.asamaru.net/archives/" class="text-inverse" title="전체글 보기">전체글 보기</a></li>
					<li class="pipe"></li>
								<li><a href="https://calculator.asamaru.net/atom.xml" class="text-inverse" target="_blank" title="RSS Feed">RSS</a></li>
			</ul>
			</div>
</nav>



















</section>
<footer class="bottom">
	hosted by <a href="https://github.com/" title="Github.com"><em>Github</em></a> / Posted by <a href="mailto:asamaru@asamaru.net" title="운영자에게 메일보내기"><em>아사마루</em></a>
	&nbsp;&nbsp;&nbsp;<a href="/policy/privacy/" target="_blank" title="개인정보처리방침">개인정보처리방침</a>
</footer>


<script src="/res/js/min/b49c27924867abdbbb8970010a251f7b.js" async="true" type="text/javascript"></script>
</body>
</html>
