<!doctype html>
<html lang="ko">
	<head>
		<meta charset="utf-8" />
		<title>퍼센트 계산기 - 계산기</title>
		<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
		<meta name="viewport" content="width=device-width,minimum-scale=1.0,initial-scale=1.0" />
		<link href="//www.googletagmanager.com" rel="dns-prefetch" />
		<link href="//pagead2.googlesyndication.com" rel="dns-prefetch" />
		<link href="//googleads.g.doubleclick.net" rel="dns-prefetch" />
		<meta name="author" content="아사마루" />
		<meta name="keywords" content="퍼센트,비율,백분율,천분율,만분율" />
		<meta name="description" content="비율에 해당하는 값 / 값에 해당하는 비율 등을 계산할 수 있습니다." />
		<meta name="referrer" content="always" />
		<meta name="HandheldFriendly" content="True" />
		<meta name="MobileOptimized" content="320" />
		<meta name="theme-color" content="#ee152b" />
		<link rel="shortcut icon" type="image/x-icon" href="https://calculator.asamaru.net/favicon.ico" />
		<link rel="manifest" href="/manifest.json" />
		<link rel="canonical" href="https://calculator.asamaru.net/계산기/일반/퍼센트-계산/" />
		<link rel="alternate" type="application/rss+xml" title="계산기" href="https://calculator.asamaru.net/atom.xml" />
		<link rel="apple-touch-icon" sizes="180x180" href="/img/icon/180.png" />
		<link rel="apple-touch-icon" sizes="76x76" href="/img/icon/76.png" />
		<link rel="apple-touch-icon" sizes="120x120" href="/img/icon/120.png" />
		<link rel="apple-touch-icon" sizes="152x152" href="/img/icon/152.png" />
		<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8163803188491150" crossorigin="anonymous"></script>
		<meta property="og:type" content="article" />
		<meta property="og:site_name" content="계산기" />
		<meta property="og:title" content="퍼센트 계산기 - 계산기" />
		<meta property="og:description" content="비율에 해당하는 값 / 값에 해당하는 비율 등을 계산할 수 있습니다." />
		<meta property="og:url" content="https://calculator.asamaru.net/계산기/일반/퍼센트-계산/" />
		<meta property="og:image" content="https://calculator.asamaru.net/img/icon/icon.png" />
		<meta property="article:published_time" content="2025-08-20T16:08:14+09:00" />
		<meta property="article:modified_time" content="2025-08-20T16:08:14+09:00" />
		<meta property="article:author" content="아사마루" />
		<meta property="article:section" content="일반" />
		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:site" content="@asamaru7" />
		<meta name="twitter:title" content="퍼센트 계산기 - 계산기" />
		<meta name="twitter:description" content="비율에 해당하는 값 / 값에 해당하는 비율 등을 계산할 수 있습니다." />
		<meta name="twitter:image" content="https://calculator.asamaru.net/img/icon/icon.png" />
		<script type="application/ld+json">
			{
				"@context": "https://schema.org",
				"@type": "WebPage",
				"@id": "https://calculator.asamaru.net/계산기/일반/퍼센트-계산/",
				"url": "https://calculator.asamaru.net/계산기/일반/퍼센트-계산/",
				"name": "퍼센트 계산기",
				"description": "비율에 해당하는 값 / 값에 해당하는 비율 등을 계산할 수 있습니다.",
				"author": {
					"@type": "Person",
					"name": "아사마루"
				},
				"datePublished": "2025-08-20T16:08:14+09:00",
				"dateModified": "2025-08-20T16:08:14+09:00",
				"image": {
					"@type": "ImageObject",
					"url": "https://calculator.asamaru.net/img/icon/icon.696.png",
					"width": 696,
					"height": 696
				},
				"publisher": {
					"@type": "Organization",
					"name": "계산기",
					"logo": {
						"@type": "ImageObject",
						"url": "https://calculator.asamaru.net/img/icon/180.png",
						"width": 180,
						"height": 180
					}
				}
			}
		</script>
		<link href="/css/min/c4f353c288b3466995f2f9956e1ea09b.css" type="text/css" rel="stylesheet" />
		<script src="/js/min/f12d003a4044b83c1aa2927a92a329b0.js" async type="text/javascript"></script>
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-LP1PXLNX3W"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag() {
				dataLayer.push(arguments);
			}
			gtag("js", new Date());
			gtag("config", "G-LP1PXLNX3W");
		</script>
	</head>
	<body>
		<header class="top">
			<div class="site-profile clearfix">
				<a href="https://calculator.asamaru.net"><img src="https://calculator.asamaru.net/img/bundled/icon-BmxouxuB.png" width="50" height="50" alt="계산기" /></a>
				<div class="site-name"><a href="https://calculator.asamaru.net">계산기</a></div>
				<p>일상생활에 필요한 다양한 계산기</p>
				<button type="button" class="btn-slide" data-sidebar="toggle"></button>
			</div>
		</header>
		<section class="main-body clearfix">
			<div class="main-box">
				<section id="main-panel">
					<article id="article" class="article hentry calculator">
						<div class="title">
							<h1 class="entry-title">퍼센트 계산기</h1>
							<a href="https://calculator.asamaru.net/계산기/분야/일반/" rel="tag" title="일반 목록보기">일반</a>
						</div>
						<time class="published hide" datetime="2025-08-20T16:08:14+09:00">2025.08.20. 16:08</time>
						<time class="updated hide daum-wm-datetime" datetime="2025-08-20T16:08:14+09:00">2025.08.20. 16:08</time>
						<span class="vcard author hide"><span class="fn">아사마루</span></span>
						<div class="entry-content">
							<section class="calculator">
								<div class="gad-box"><vue-adsense data-ad-client="ca-pub-8163803188491150" data-ad-slot="5544136225" data-ad-format="auto" data-full-width-responsive="true"></vue-adsense></div>
								<h2 class="sr-only">계산기</h2>
								<div class="form-box" v-cloak>
									<form class="calc" v-on:submit.prevent="calc">
										<fieldset class="container percents">
											<legend class="sr-only">퍼센트 계산기</legend>
											<h3>전체값에서 일정 비율에 해당하는 값을 계산합니다.</h3>
											<div class="row">
												<label class="column">
													<input type="number" step="any" v-model="num_a_1" placeholder="전체값 100" />
													<span>의</span>
												</label>
												<label class="column">
													<input type="number" step="any" v-model="num_a_2" placeholder="비율값 20" />
													<span>% 는</span>
												</label>
												<label class="column result">
													<input type="text" v-model="result_a" placeholder="일부값 20" readonly />
													<span>입니다.</span>
												</label>
											</div>
											<hr />
											<h3>전체값의 일정 값에 해당하는 비율을 계산합니다.</h3>
											<div class="row">
												<label class="column">
													<input type="number" step="any" v-model="num_b_1" placeholder="전체값 100" />
													<span>에서</span>
												</label>
												<label class="column">
													<input type="number" step="any" v-model="num_b_2" placeholder="일부값 20" />
													<span>은(는)</span>
												</label>
												<label class="column result">
													<input type="text" v-model="result_b" placeholder="비율값 20" readonly />
													<span>% 입니다.</span>
												</label>
											</div>
											<hr />
											<h3>기준값이 변경값으로 변화시 얼만큼 증가/감소했는지 계산합니다.</h3>
											<div class="row">
												<label class="column">
													<input type="number" step="any" v-model="num_c_1" placeholder="기준값 100" />
													<span>이(가)</span>
												</label>
												<label class="column">
													<input type="number" step="any" v-model="num_c_2" placeholder="변경값 150" />
													<span>로 바뀌면</span>
												</label>
												<label class="column result">
													<input type="text" v-model="result_c" placeholder="증가값 50" readonly />
													<span>
														%
														<i v-text="result_c_t"></i>
														입니다.
													</span>
												</label>
											</div>
											<hr />
											<h3>기준값에서 일정 비율로 증가/감소한 결과를 계산합니다.</h3>
											<div class="row">
												<label class="column">
													<input type="number" step="any" v-model="num_d_1" placeholder="기준값 100" />
													<span>이(가)</span>
												</label>
												<label class="column">
													<input type="number" step="any" v-model="num_d_2" placeholder="비율값 20" />
													<span>%</span>
													<select v-model="num_d_3">
														<option value="1">증가</option>
														<option value="-1">감소</option>
													</select>
													<span>하면</span>
												</label>
												<label class="column result">
													<input type="text" v-model="result_d" placeholder="변경값 120" readonly />
													<span>입니다.</span>
												</label>
											</div>
											<hr />
											<div class="buttons">
												<input class="button button-outline" type="button" value="초기화" v-on:click="reset" />
											</div>
										</fieldset>
									</form>
								</div>
								<div class="gad-box"><vue-adsense data-ad-client="ca-pub-8163803188491150" data-ad-slot="2371177971" data-ad-format="auto" data-full-width-responsive="true"></vue-adsense></div>
								<hr />
								<h2 class="sr-only">관련용어</h2>
								<ul class="terms">
									<li>
										<dl>
											<dt>백분율(百分率) 또는 퍼센트(percent)</dt>
											<dd>
												<p>백분율(百分率) 또는 퍼센트(percent)는 수를 100과의 비에 100을 곱한 값이며 기호는 %이다. "프로센트"(네덜란드어: procent)를 줄여 프로라고도 한다.</p>
												<p>보통 백분율은 0과 1 사이의 값을 나타내는 데 쓰이지만, 임의의 무차원 수를 백분율로 나타낼 수 있다. 예를 들어, 111%는 1.11을, -0.35%는 -0.0035를 나타낸다.</p>
											</dd>
										</dl>
									</li>
									<li>
										<dl>
											<dt>천분율(千分率) 또는 퍼밀(permillage)</dt>
											<dd>
												<p>천분율(千分率) 또는 퍼밀(permillage)은 수를 1000과의 비에 1000을 곱한 값이며 기호는 ‰이다.</p>
												<p>해수의 염분의 농도, 철도의 경사(구배) 등을 나타낼 때 주로 사용한다.</p>
											</dd>
										</dl>
									</li>
									<li>
										<dl>
											<dt>만분율(萬分率) 또는 베이시스 포인트(basis point)</dt>
											<dd>
												<p>만분율(萬分率) 또는 베이시스 포인트(basis point)는 수를 10000과의 비에 10000을 곱한 값이며 기호는 ‱이다.</p>
												<p>금리를 나타낼 때 주로 사용한다.</p>
											</dd>
										</dl>
									</li>
								</ul>
							</section>
							<div class="share-sns twitter facebook googleplus band line kakaotalk" data-kakao-api="a5a449c01651dea0336cf0e0d1fdc54c" data-facebook-app-id="1874593759230150"></div>
							<div class="nv-openmain" data-title="각종계산기" data-url="https://calculator.asamaru.net" data-type="W2"></div>
							<script async type="text/javascript" src="https://openmain.pstatic.net/js/openmain.js"></script>
							<h2 class="relate-calc">일반 관련 계산기</h2>
							<ul class="relate-calc clearfix">
								<li>
									<a href="https://calculator.asamaru.net/계산기/일반/퍼센트-계산/" title="퍼센트 계산기" class="button-default">퍼센트 계산기</a>
								</li>
							</ul>
						</div>
						<div class="gad-box">
							<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8163803188491150" crossorigin="anonymous"></script>
							<ins class="adsbygoogle" style="display: block" data-ad-client="ca-pub-8163803188491150" data-ad-slot="3301116261" data-ad-format="auto" data-full-width-responsive="true"></ins>
							<script>
								(adsbygoogle = window.adsbygoogle || []).push({});
							</script>
						</div>
					</article>
				</section>
			</div>
			<nav class="slideout-menu" data-sidebar-position="right">
				<div class="slide-close clearfix">
					<button data-sidebar="close"></button>
				</div>
				<div class="gad-box d" style="display: block" data-ad-client="ca-pub-8163803188491150" data-ad-slot="5666181880" data-ad-format="auto" data-full-width-responsive="true"><ins class="adsbygoogle"></ins></div>
				<div class="box">
					<h2>계산기</h2>
					<dl class="tags">
						<dt class="sr-only">분야</dt>
						<dd>
							<a href="https://calculator.asamaru.net/계산기/분야/가상화폐/" title="가상화폐 목록보기">
								가상화폐
								<span>(1)</span>
							</a>
						</dd>
						<dd>
							<a href="https://calculator.asamaru.net/계산기/분야/건강/" title="건강 목록보기">
								건강
								<span>(5)</span>
							</a>
						</dd>
						<dd>
							<a href="https://calculator.asamaru.net/계산기/분야/금융/" title="금융 목록보기">
								금융
								<span>(4)</span>
							</a>
						</dd>
						<dd>
							<a href="https://calculator.asamaru.net/계산기/분야/단위변환/" title="단위변환 목록보기">
								단위변환
								<span>(9)</span>
							</a>
						</dd>
						<dd>
							<a href="https://calculator.asamaru.net/계산기/분야/일반/" title="일반 목록보기">
								일반
								<span>(1)</span>
							</a>
						</dd>
					</dl>
					<h2>용어해설</h2>
					<dl class="tags">
						<dt class="sr-only">분야</dt>
						<dd>
							<a href="https://calculator.asamaru.net/용어해설/분야/건강/" title="건강 목록보기">
								건강
								<span>(2)</span>
							</a>
						</dd>
						<dd>
							<a href="https://calculator.asamaru.net/용어해설/분야/단위/" title="단위 목록보기">
								단위
								<span>(2)</span>
							</a>
						</dd>
					</dl>
					<form action="https://www.google.com/search" method="get" target="_blank" class="form-search">
						<fieldset>
							<legend class="sr-only">검색하기 폼</legend>
							<input type="hidden" name="sitesearch" value="calculator.asamaru.net" />
							<label>검색하기</label>
							<input type="text" name="q" value="" placeholder="Search" />
						</fieldset>
					</form>
					<ul class="links">
						<li><a href="https://calculator.asamaru.net/archives/" class="text-inverse">전체글 보기</a></li>
						<li class="pipe"></li>
						<li><a href="https://calculator.asamaru.net/atom.xml" class="text-inverse" target="_blank">RSS</a></li>
					</ul>
				</div>
			</nav>
		</section>
		<footer class="bottom">
			Posted by
			<a href="https://docs.google.com/forms/d/e/1FAIpQLSdsefx8At2yOTNyx7xoP9IaFv0odvthnGXMEXG_tKZea_VxMg/viewform?usp=pp_url&entry.316518454=%EA%B3%84%EC%82%B0%EA%B8%B0" title="문의하기" rel="nofollow" target="_blank">아사마루</a>
			&nbsp;&nbsp;&nbsp;
			<a href="https://calculator.asamaru.net/policy/privacy/" target="_blank">개인정보처리방침</a>
		</footer>
	</body>
</html>
