<!doctype html>
<html lang="ko">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,minimum-scale=1.0,initial-scale=1.0">
		<title>마이너스통장(한도대출) 이자 계산기 - 계산기</title>
	<meta name="author" content="아사마루">
	<meta name="keywords" content="마이너스통장,마이너스대출,신용한도대출,한도대출,이자계산">
	<meta name="description" content="마이너스통장 사용 금액에 대한 이자를 계산해 볼 수 있습니다.">
	<meta name="referrer" content="always">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link rel="shortcut icon" type="image/x-icon" href="https://calculator.asamaru.net/favicon.ico"/>
	<link rel="canonical" href="https://calculator.asamaru.net/계산기/금융/마이너스통장-이자-계산기/"/>
		<link href="//www.googletagmanager.com" rel="dns-prefetch"/>	
		<link href="//pagead2.googlesyndication.com" rel="dns-prefetch"/>
	<link href="//googleads.g.doubleclick.net" rel="dns-prefetch"/>
	<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
	<script>
		(adsbygoogle = window.adsbygoogle || []).push({
			google_ad_client: 'ca-pub-8163803188491150',
			enable_page_level_ads: true
		});
	</script>
		<!--[if lt IE 9]><script src="//cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.min.js"></script><![endif]-->

	

	
	<meta name="HandheldFriendly" content="True">
	<meta name="MobileOptimized" content="320">

		
	
	<meta property="og:type" content="article">
	<meta property="og:site_name" content="계산기">
	<meta property="og:title" content="마이너스통장(한도대출) 이자 계산기">
	<meta property="og:description" content="마이너스통장 사용 금액에 대한 이자를 계산해 볼 수 있습니다.">
	<meta property="og:url" content="https://calculator.asamaru.net/계산기/금융/마이너스통장-이자-계산기/"/>
	<meta property="og:image" content="https://calculator.asamaru.net/res/img/icon/icon.png">
	

	
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:site" content="@">
	<meta name="twitter:title" content="마이너스통장(한도대출) 이자 계산기">
	<meta name="twitter:description" content="마이너스통장 사용 금액에 대한 이자를 계산해 볼 수 있습니다.">
	<meta property="twitter:image" content="https://calculator.asamaru.net/res/img/icon/icon.png">
	

										<link rel="apple-touch-icon" sizes="180x180" href="/res/img/icon/180.png">
												<link rel="apple-touch-icon" sizes="76x76" href="/res/img/icon/76.png">
												<link rel="apple-touch-icon" sizes="120x120" href="/res/img/icon/120.png">
												<link rel="apple-touch-icon" sizes="152x152" href="/res/img/icon/152.png">
						
	<link rel="alternate" type="application/rss+xml" title="계산기" href="https://calculator.asamaru.net/atom.xml"/>

			<link href="/res/css/min/5da90b0be83dc96571fcab1ff0e4df97.css" type="text/css" rel="stylesheet" />

	 <script type="application/ld+json">{
    "@context": "http://schema.org",
    "@type": "Article",
    "headline": "마이너스통장(한도대출) 이자 계산기",
    "author": {
        "@type": "Person",
        "name": "아사마루"
    },
    "datePublished": "2021-10-01",
    "dateCreated": "2020-07-01",
    "dateModified": "2021-10-01",
    "articleSection": "금융",
    "url": "https://calculator.asamaru.net/계산기/금융/마이너스통장-이자-계산기/",
    "image": {
        "@type": "ImageObject",
        "url": "https://calculator.asamaru.net/res/img/icon/icon.696.png",
        "width": 696,
        "height": 696
    },
    "publisher": {
        "@type": "Organization",
        "name": "아사마루",
        "logo": {
            "@type": "ImageObject",
            "url": "https://calculator.asamaru.net/res/img/icon/icon.60.png",
            "width": 60,
            "height": 60
        }
    },
    "mainEntityOfPage": {
        "@type": "WebPage",
        "@id": "https://calculator.asamaru.net/계산기/금융/마이너스통장-이자-계산기/"
    }
}</script> 
			
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-65749108-21"></script>
		<script>
		  window.dataLayer = window.dataLayer || [];
		  function gtag(){dataLayer.push(arguments);}
		  gtag('js', new Date());

		  gtag('config', 'UA-65749108-21');
		</script>
	
	</head>
<body>
<header class="top">
	<div class="site-profile clearfix">
		<a href="https://calculator.asamaru.net" title="계산기 홈페이지로 이동"><img src="/res/img/icon/icon.png" width="50" height="50" alt="계산기"></a>
		<h1><a href="https://calculator.asamaru.net" title="계산기 홈페이지로 이동">계산기</a></h1>
					<p>일상생활에 필요한 다양한 계산기</p>
				<button type="button" id="btn-slide"></button>
	</div>
</header>
<section class="main-body clearfix">
<div class="main-box">
	<section id="main-panel">
			
	<article id="article" class="article hentry calculator">
		<div class="title">
			<h2 class="entry-title daum-wm-title">마이너스통장(한도대출) 이자 계산기</h2>
												<a href="https://calculator.asamaru.net/계산기/분야/금융/" rel="tag" title="금융 목록보기">금융</a>
										<time class="published hide" datetime="2021-10-01T14:04:17+0900">2021.10.01. 14:04</time>
			<time class="updated hide daum-wm-datetime" datetime="2021-10-01T14:04:17+0900">2021.10.01. 14:04</time>
			<span class="vcard author hide"><span class="fn">아사마루</span></span>
		</div>

		

		<div class="entry-content daum-wm-content">
			<section class="calculator">
	<div class="form-box" v-cloak>
		<form class="calc" v-on:submit.prevent="calc">
			<fieldset class="container">
				<div class="row">
					<label class="column with-postfix" data-postfix="%">
						<span>대출금리</span>
						<input type="number" step=".01" v-model="interestRate"/>
					</label>
				</div>
				<div class="row">
					<label class="column interest-date">
						<span>이자출금일</span>
						<select v-model="interestDate">
							<option v-for="d in dates" v-bind:value="d">{{ d }}일</option>
						</select>
					</label>
				</div>
				<div class="row" v-if="lists.length > 0">
					<div class="column">
						<span>입출금내역</span>
					</div>
				</div>
				<div class="row" v-if="lists.length > 0">
					<table class="history">
						<caption>입출금내역</caption>
						<thead>
						<tr>
							<th>일자</th>
							<th>내역</th>
							<th></th>
						</tr>
						</thead>
						<tbody>
						<tr v-for="(row, i) in lists">
							<td>{{ row.date }}</td>
							<td class="right">
								<span>{{ (row.type == 'd') ? '+' : '-' }}</span>
								{{ numberFormat(row.money) }}
								<span>({{ moneySimpleKorean(row.money) }}원)</span>
							</td>
							<td>
								<button type="button" @click="lists.splice(i, 1)" class="button button-outline">삭제</button>
							</td>
						</tr>
						</tbody>
					</table>
				</div>
				<div class="row">
					<label class="column">
						<span>입출금</span>
						<input type="date" v-model="moneyDate"/>
					</label>
				</div>
				<div class="row">
					<label class="column inout">
						<span>입출금</span>
						<select v-model="moneyType">
							<option value="w">출금</option>
							<option value="d">입금</option>
						</select>
						<input type="number" v-model="money"/>
						<input class="button button-primary" type="button" value="추가" @click="append">
					</label>
				</div>
				<div class="row help">
					<p>계좌 사용 내역을 추가해 주세요.</p>
				</div>
				<div class="row">
					<label class="column">
						<span>대출기간</span>
						<input type="number" v-model="period"/>
						<span class="radio-buttons right">
							<input type="radio" name="period-type" value="m" v-model="periodType" id="period-type-m" checked/><label for="period-type-m">개월</label>
							<input type="radio" name="period-type" value="y" v-model="periodType" id="period-type-y"/><label for="period-type-y">년</label>
						</span>
					</label>
				</div>
				<hr/>
				<div class="buttons">
					<input class="button button-primary" type="submit" value="계산">
					<input class="button button-outline" type="button" value="초기화" v-on:click="reset">
				</div>
			</fieldset>
		</form>

		<a id="results-anchor"></a>
		<div class="results" v-cloak v-if="!!result">
			<table>
				<caption>마이너스통장 이자 계산결과</caption>
				<thead>
				<tr>
					<th>이자출금일</th>
					<th>구분</th>
					<th>이자</th>
				</tr>
				</thead>
				<tbody>
				<tr v-for="(interest, date) in result.monthly">
					<td>{{ date }}</td>
					<td>{{ interest.month }} 월분</td>
					<td>{{ numberFormat(interest.interest) }} 원</td>
				</tr>
				</tbody>
			</table>
			<div class="notice">
				<p class="guide">* 금융기관의 이자 산정 방법에 따라 실제 이자와는 차이가 날 수 있습니다.</p>
			</div>

			<table class="detail-list">
				<caption>마이너스통장 일별 이자</caption>
				<thead>
				<tr>
					<th>일자</th>
					<th>하루적수</th>
					<th>이자</th>
				</tr>
				</thead>
				<tbody>
				<tr v-for="(interest, date) in result.daily">
					<td>{{ date }}</td>
					<td>{{ numberFormat(interest.sigma) }} 원</td>
					<td>{{ numberFormat(interest.interest) }} 원</td>
				</tr>
				</tbody>
			</table>
		</div>
	</div>
	<hr/>
	<ul class="terms">
		<li>
			<dl>
				<dt>마이너스통장(한도대출)</dt>
				<dd>
					<p>금융기관의 대출 상품 중의 하나로 정식 명칭은 신용한도대출이다.</p>
					<p>신용대출 중 약정기간동안 약정금액 한도 내에서 수시로 인출(대출) 및 상환이 가능하도록 약정한 대출로 거래은행의 통장을 이용한다.</p>
				</dd>
				<dt>요구불계좌(요구불예금)</dt>
				<dd>
					<p>일반 입출금 통장 중에서도 항상 입출금이 가능한 통장이다.</p>
				</dd>
				<dt>적수</dt>
				<dd>
					<p>적수(積數)란 잔액과 달리 특정 시점의 잔액이 아니라 '일정 기간 동안의 잔액의 합계'를 뜻한다.</p>
					<p>하루적수 = 마감잔액 + 최고잔액 - max(개시잔액, 마감잔액)</p>
				</dd>
			</dl>
		</li>
	</ul>
</section>

			
			<div class="share-sns twitter facebook googleplus band line kakaostory kakaotalk" data-kakao-api="a5a449c01651dea0336cf0e0d1fdc54c" data-facebook-app-id="1874593759230150"></div>

			
			<div class="nv-openmain" data-title="각종계산기" data-url="https://calculator.asamaru.net" data-type="W2"></div>
			<script async type="text/javascript" src="https://openmain.pstatic.net/js/openmain.js"></script>

			
												<h4 class="relate-calc">금융 관련 계산기</h4>
										<ul class="relate-calc clearfix">
													<li>
																																	<a href="https://calculator.asamaru.net/계산기/금융/적금-이자-계산/" title="적금 이자 계산기" class="button-default">적금 이자 계산기</a>
							</li>
													<li>
																																	<a href="https://calculator.asamaru.net/계산기/금융/예금-이자-계산/" title="예금 이자 계산기" class="button-default">예금 이자 계산기</a>
							</li>
													<li>
																																	<a href="https://calculator.asamaru.net/계산기/금융/중도상환수수료-계산/" title="중도상환수수료 계산기" class="button-default">중도상환수수료 계산기</a>
							</li>
													<li>
																																	<a href="https://calculator.asamaru.net/계산기/금융/마이너스통장-이자-계산기/" title="마이너스통장(한도대출) 이자 계산기" class="button-default">마이너스통장(한도대출) 이자 계산기</a>
							</li>
											</ul>
										</div>
		
		
	</article>
	</section>
</div>
<nav id="sidebar" class="slideout-menu">
	<div class="box">
														<h3>계산기</h3>
			
			
																<dl class="tags">
						<dt>분야</dt>
													<dd>
								<a href="https://calculator.asamaru.net/계산기/분야/가상화폐/" title="가상화폐 목록보기">
									가상화폐<span>(1)</span>
								</a>
							</dd>
													<dd>
								<a href="https://calculator.asamaru.net/계산기/분야/건강/" title="건강 목록보기">
									건강<span>(5)</span>
								</a>
							</dd>
													<dd>
								<a href="https://calculator.asamaru.net/계산기/분야/금융/" title="금융 목록보기">
									금융<span>(4)</span>
								</a>
							</dd>
													<dd>
								<a href="https://calculator.asamaru.net/계산기/분야/단위변환/" title="단위변환 목록보기">
									단위변환<span>(9)</span>
								</a>
							</dd>
													<dd>
								<a href="https://calculator.asamaru.net/계산기/분야/일반/" title="일반 목록보기">
									일반<span>(1)</span>
								</a>
							</dd>
											</dl>
							
			
														
			
															<h3>용어 해설</h3>
			
			
																<dl class="tags">
						<dt>분야</dt>
													<dd>
								<a href="https://calculator.asamaru.net/용어해설/분야/건강/" title="건강 목록보기">
									건강<span>(2)</span>
								</a>
							</dd>
													<dd>
								<a href="https://calculator.asamaru.net/용어해설/분야/단위/" title="단위 목록보기">
									단위<span>(2)</span>
								</a>
							</dd>
											</dl>
							
			
														
			
					
				
		
		<form action="https://www.google.com/search" method="get" target="_blank" class="form-search">
			<fieldset>
				<input type="hidden" name="sitesearch" value="https://calculator.asamaru.net">
				<legend>검색하기 폼</legend>
				<label>검색하기</label>
				<input type="text" name="q" value="" placeholder="Search"/>
			</fieldset>
		</form>

		
					<ul class="links">
									<li><a href="https://calculator.asamaru.net/archives/" class="text-inverse" title="전체글 보기">전체글 보기</a></li>
					<li class="pipe"></li>
								<li><a href="https://calculator.asamaru.net/atom.xml" class="text-inverse" target="_blank" title="RSS Feed">RSS</a></li>
			</ul>
			</div>
</nav>



















</section>
<footer class="bottom">
	hosted by <a href="https://github.com/" title="Github.com"><em>Github</em></a> / Posted by <a href="mailto:asamaru@asamaru.net" title="운영자에게 메일보내기"><em>아사마루</em></a>
	&nbsp;&nbsp;&nbsp;<a href="/policy/privacy/" target="_blank" title="개인정보처리방침">개인정보처리방침</a>
</footer>


<script src="/res/js/min/82bf9144498e39225cbb729cc1ccd7fe.js" async="true" type="text/javascript"></script>
</body>
</html>