<!doctype html>
<html lang="ko">
	<head>
		<meta charset="utf-8" />
		<title>예금 이자 계산기 - 계산기</title>
		<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width,minimum-scale=1.0,initial-scale=1.0" />
		<link href="//www.googletagmanager.com" rel="dns-prefetch" />
		<link href="//pagead2.googlesyndication.com" rel="dns-prefetch" />
		<link href="//googleads.g.doubleclick.net" rel="dns-prefetch" />
		<meta name="author" content="아사마루" />
		<meta name="keywords" content="예금,이자" />
		<meta name="description" content="예금에 대한 단리/복리 이자를 계산할 수 있습니다." />
		<meta name="referrer" content="always" />
		<meta name="HandheldFriendly" content="True" />
		<meta name="MobileOptimized" content="320" />
		<meta name="theme-color" content="#ee152b" />
		<link rel="shortcut icon" type="image/x-icon" href="https://calculator.asamaru.net/favicon.ico" />
		<link rel="manifest" href="/manifest.json" />
		<link rel="canonical" href="https://calculator.asamaru.net/계산기/금융/예금-이자-계산/" />
		<link rel="alternate" type="application/rss+xml" title="계산기" href="https://calculator.asamaru.net/atom.xml" />
		<link rel="apple-touch-icon" sizes="180x180" href="/img/icon/180.png" />
		<link rel="apple-touch-icon" sizes="76x76" href="/img/icon/76.png" />
		<link rel="apple-touch-icon" sizes="120x120" href="/img/icon/120.png" />
		<link rel="apple-touch-icon" sizes="152x152" href="/img/icon/152.png" />
		<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8163803188491150" crossorigin="anonymous"></script>
		<meta property="og:type" content="article" />
		<meta property="og:site_name" content="계산기" />
		<meta property="og:title" content="예금 이자 계산기" />
		<meta property="og:description" content="예금에 대한 단리/복리 이자를 계산할 수 있습니다." />
		<meta property="og:url" content="https://calculator.asamaru.net/계산기/금융/예금-이자-계산/" />
		<meta property="og:image" content="https://calculator.asamaru.net/img/icon/icon.png" />
		<meta property="article:published_time" content="2021-10-03T14:04:17+09:00" />
		<meta property="article:modified_time" content="2021-10-03T14:04:17+09:00" />
		<meta property="article:author" content="아사마루" />
		<meta property="article:section" content="금융" />
		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:site" content="@asamaru7" />
		<meta name="twitter:title" content="예금 이자 계산기" />
		<meta name="twitter:description" content="예금에 대한 단리/복리 이자를 계산할 수 있습니다." />
		<meta property="twitter:image" content="https://calculator.asamaru.net/img/icon/icon.png" />
		<script type="application/ld+json">
			{
				"@context": "https://schema.org",
				"@type": "Article",
				"url": "https://calculator.asamaru.net/계산기/금융/예금-이자-계산/",
				"headline": "예금 이자 계산기 - 계산기",
				"author": {
					"@type": "Person",
					"name": "아사마루"
				},
				"datePublished": "2021-10-03T14:04:17+09:00",
				"dateModified": "2021-10-03T14:04:17+09:00",
				"articleSection": "금융",
				"image": {
					"@type": "ImageObject",
					"url": "https://calculator.asamaru.net/img/icon/icon.696.png",
					"width": 696,
					"height": 696
				},
				"publisher": {
					"@type": "Organization",
					"name": "아사마루",
					"logo": {
						"@type": "ImageObject",
						"url": "https://calculator.asamaru.net/img/icon/180.png",
						"width": 180,
						"height": 180
					}
				},
				"mainEntityOfPage": {
					"@type": "WebPage",
					"@id": "https://calculator.asamaru.net/계산기/금융/예금-이자-계산"
				}
			}
		</script>
		<link href="/css/min/c125e3b94ac93199f008e77773c6a499.css" type="text/css" rel="stylesheet" />
		<script src="/js/min/b2bd05b668015acf4b3a56da6cdad62b.js" async type="text/javascript"></script>
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-LP1PXLNX3W"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag() {
				dataLayer.push(arguments);
			}
			gtag("js", new Date());
			gtag("config", "G-LP1PXLNX3W");
		</script>
	</head>
	<body>
		<header class="top">
			<div class="site-profile clearfix">
				<a href="https://calculator.asamaru.net" title="계산기 홈페이지로 이동"><img src="https://calculator.asamaru.net/img/bundled/icon-BmxouxuB.png" width="50" height="50" alt="계산기" /></a>
				<h1><a href="https://calculator.asamaru.net" title="계산기 홈페이지로 이동">계산기</a></h1>
				<p>일상생활에 필요한 다양한 계산기</p>
				<button type="button" id="btn-slide"></button>
			</div>
		</header>
		<section class="main-body clearfix">
			<div class="main-box">
				<section id="main-panel">
					<article id="article" class="article hentry calculator">
						<div class="title">
							<h2 class="entry-title daum-wm-title">예금 이자 계산기</h2>
							<a href="https://calculator.asamaru.net/계산기/분야/금융/" rel="tag" title="금융 목록보기">금융</a>
							<time class="published hide" datetime="2021-10-03T14:04:17+09:00">2021.10.03. 14:04</time>
							<time class="updated hide daum-wm-datetime" datetime="2021-10-03T14:04:17+09:00">2021.10.03. 14:04</time>
							<span class="vcard author hide"><span class="fn">아사마루</span></span>
						</div>
						<div class="entry-content daum-wm-content">
							<section class="calculator">
								<div class="gad-box"><vue-adsense data-ad-client="ca-pub-8163803188491150" data-ad-slot="5544136225" data-ad-format="auto" data-full-width-responsive="true"></vue-adsense></div>
								<div class="form-box" v-cloak>
									<input type="hidden" id="benchmark-interest-rate" value="2" />
									<input type="hidden" id="tax" value="15.4" />
									<input type="hidden" id="tax-break" value="9.5" />
									<form class="calc" v-on:submit.prevent="calc">
										<fieldset class="container">
											<div class="row">
												<label class="column with-postfix" data-postfix="원">
													<span>예치금액</span>
													<input type="number" v-model="money" />
												</label>
											</div>
											<p class="money-korean" v-show="money > 0">{{ moneyText }} 원</p>
											<div class="row">
												<label class="column">
													<span>예치기간</span>
													<input type="number" v-model="period" />
													<span class="radio-buttons right">
														<input type="radio" name="period-type" value="y" v-model="periodType" id="period-type-y" checked />
														<label for="period-type-y">년</label>
														<input type="radio" name="period-type" value="m" v-model="periodType" id="period-type-m" />
														<label for="period-type-m">개월</label>
													</span>
												</label>
											</div>
											<div class="row">
												<label class="column with-postfix" data-postfix="%">
													<span>연이자율</span>
													<span>
														<select name="interest-type" v-model="interestType">
															<option value="simple">단리</option>
															<option value="compound">월복리</option>
															<option value="compound3">3개월복리</option>
															<option value="compound6">6개월복리</option>
															<option value="compound12">12개월복리</option>
														</select>
													</span>
													<input type="number" step=".01" v-model="interest" />
												</label>
											</div>
											<div class="row">
												<div class="column">
													<span>이자과세</span>
													<div class="radio-buttons buttons-tax-type">
														<input type="radio" name="tax-type" value="normal" v-model="taxType" id="tax-type-normal" checked />
														<label for="tax-type-normal">일반과세</label>
														<input type="radio" name="tax-type" value="none" v-model="taxType" id="tax-type-none" />
														<label for="tax-type-none">비과세</label>
														<input type="radio" name="tax-type" value="deduction" v-model="taxType" id="tax-type-deduction" />
														<label for="tax-type-deduction">세금우대</label>
													</div>
												</div>
											</div>
											<div class="row" v-show="taxType === 'deduction'">
												<label class="column with-postfix" data-postfix="%">
													<span>우대세율</span>
													<input type="number" v-model="taxBreak" min="0" max="99" step=".01" />
												</label>
											</div>
											<hr />
											<div class="buttons">
												<input class="button button-primary" type="submit" value="계산" />
												<input class="button button-outline" type="button" value="초기화" v-on:click="reset" />
											</div>
										</fieldset>
									</form>
									<div class="gad-box"><vue-adsense data-ad-client="ca-pub-8163803188491150" data-ad-slot="2371177971" data-ad-format="auto" data-full-width-responsive="true"></vue-adsense></div>
									<a id="results-anchor"></a>
									<div class="results" v-cloak v-if="!!result">
										<table>
											<caption>예금만기액 상품별 대입계산결과</caption>
											<thead>
												<tr>
													<th>월납입액</th>
													<th>납입기간</th>
													<th>금리</th>
													<th>이자방식</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td>{{ Formats.numberFormat(money) }} 원</td>
													<td>{{ Formats.numberFormat(periodMonth) }} 개월</td>
													<td>{{ Formats.numberFormat(interest, 2) }} %</td>
													<td>{{ interestTypeText }}</td>
												</tr>
											</tbody>
										</table>
										<div class="print-results">
											<dl>
												<dt>원금합계</dt>
												<dd>{{ Formats.numberFormat(result.money) }}</dd>
												<dt>세전이자</dt>
												<dd class="plus">
													<i>+</i>
													{{ Formats.numberFormat(result.interest.none) }}
												</dd>
												<dt>
													이자과세
													<p v-show="taxType != 'none'">{{ realTax }}%</p>
												</dt>
												<dd class="minus">
													<i>-</i>
													{{ Formats.numberFormat(result.interest.none - result.interest.normal) }}
												</dd>
												<dd class="clear"></dd>
												<dt>세후 수령액</dt>
												<dd><span>{{ Formats.numberFormat(result.amount.normal) }}</span></dd>
												<dd class="amount-text">{{ result.amount.normalText }}</dd>
											</dl>
										</div>
										<div class="notice">
											<p class="guide">* 월단위로 계산된 이자이기 때문에 일단위로 계산되는 금융기관의 예금이자와는 차이가 있습니다.</p>
										</div>
										<div class="offer"></div>
									</div>
								</div>
								<hr />
								<ul class="terms">
									<li>
										<dl>
											<dt>예금(預金)</dt>
											<dd>
												<p>예금은 은행, 우체국 등과 같은 금융 기관에 돈을 맡기는 것을 말한다. 주기적으로 돈을 입금하는 예금과 달리, 예금은 큰 돈을 한번에 입금하는 것이 특징이다.</p>
											</dd>
										</dl>
									</li>
									<li>
										<dl>
											<dt>단리(單利, simple interest)</dt>
											<dd>
												<p>단리는 원금에 대해서만 이자를 붙이고 원금에서 생기는 이자에는 다시 이자를 붙이지 않는 계산방법이다. 따라서 지급기한까지 이율에 변동이 없으면 원금은 물론 일정기간에 생기는 이자액은 언제나 같다.</p>
												<p>예를 들면, 100원의 원금에 이율이 연 10％라고 하면 1년 후의 이자는 10원이며 2년째의 연말에 지급되는 이자도 10원이다. 원금을 G, 1기간의 이율을 r, 기간을 n, 이자를 g, 원리합계를 A라고 하면, 이자와 원리합계를 계산하는 공식은 다음과 같다. g＝G×r×n, A＝G(1＋r×n) 단리계산은 단순하므로 보통 기간이 짧은 계산에 사용된다.</p>
											</dd>
										</dl>
									</li>
									<li>
										<dl>
											<dt>복리(複利, compound interest)</dt>
											<dd>
												<p>복리는 원금에 대해서 뿐만 아니라 원금에서 생기는 이자에도 원금과 동일한 이율의 이자를 붙이는 계산방법이다. 1기간에 생긴 이자를 원금에 가산한 것을 다음 기간의 원금으로 하고, 이 가산된 원금에 대해서도 동일한 이율로 이자를 산출한다. 따라서, 지급기한까지 이율에 변동이 없어도 1기간마다 원금은 이자가 가산된 만큼 늘어나고 이자도 매기 늘어난다.</p>
												<p>위의 예를 복리로 계산하면, 제1년의 이자는 단리와 마찬가지로 10원이지만 2년째는 원금이 110원이 되고 이자는 11원이 된다. 이것을 공식화 시키면, A＝G×(1＋r)ⁿ이 되고 대수법으로 계산된다. 복리계산은 단리계산보다 복잡하며 장기투자의 경우에 쓰인다.</p>
											</dd>
										</dl>
									</li>
									<li>
										<dl>
											<dt>이자소득(利子所得, interest income)</dt>
											<dd>
												<p>"이자란 자본의 사용대가로 원본금액(元本金額)과 사용기 간에 비례하여 지급되는 금전 기타 대체물을 말하며, 이러한 자본(자금)의 이용관계로 인하 여 발생하는 소득을 이자소득이라고 한다.</p>
												<p>기업회계기준상 이자수익은 수익금액을 신뢰성 있게 측정할 수 있고, 경제적효익의 유입가 능성이 매우 높은 경우에 인식하며, 유효이자율을 적용하여 그것이 발생한 기간에 정확하게 배분하여 수익으로 인식한다. 소득세법에서는 이자소득으로서 과세대상소득으로 열거되지 않았어도 이자성격이 있는 소득 은 이자소득으로 과세되며, 특히 이자소득에 대하여는 필요경비를 인정하지 아니하므로 이 자소득(이자수입금액)이 동시에 이자소득금액이 된다. 현행법상 이자소득에 대한 총수입금액의 계산은 원칙적으로 당해 연도에 수입하였거나 수입 할 금액의 합계액으로 한다.</p>
												<p>[참조조문]소법 16, 소령 22의 2·45, 법법 3 ③ 2호·93, K－IFRS 1018호 29, 일반기준 16장 1절 16.15"</p>
											</dd>
										</dl>
									</li>
									<li>
										<dl>
											<dt>비과세(非課稅, non-taxable)</dt>
											<dd>
												<p>비과세는 세금을 적용하지 않는다는 의미이다.</p>
												<p>일정기간동안 은행에 예치를 하거나, 서민을 위한 예금/예금 상품 등 특정한 조건을 충족하면 비과세가 적용되는 경우가 있다. 동일한 이율하에 가장 큰 수익을 볼 수 있는 것이 비과세 예금/예금 상품이므로 본인이 해당 조건에 충족된다면 가능한 비과세 상품을 선택하는 것이 도움이 된다.</p>
											</dd>
										</dl>
									</li>
									<li>
										<dl>
											<dt>세금우대(稅金優待, tax break)</dt>
											<dd>
												<p>세금우대는 적용되는 세율을 적게 적용한다는 의미이다.</p>
												<p>특정 조건에 부합하는 경우 세금우대 상품에 가입이 가능하며, 이 경우 일정 세금을 감면받을 수 있으므로 결과적으로 이자 수익이 늘어나게 된다.</p>
											</dd>
										</dl>
									</li>
								</ul>
							</section>
							<div class="share-sns twitter facebook googleplus band line kakaotalk" data-kakao-api="a5a449c01651dea0336cf0e0d1fdc54c" data-facebook-app-id="1874593759230150"></div>
							<div class="nv-openmain" data-title="각종계산기" data-url="https://calculator.asamaru.net" data-type="W2"></div>
							<script async type="text/javascript" src="https://openmain.pstatic.net/js/openmain.js"></script>
							<div class="gad-box">
								<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8163803188491150" crossorigin="anonymous"></script>
								<ins class="adsbygoogle" style="display: block" data-ad-client="ca-pub-8163803188491150" data-ad-slot="8587858699" data-ad-format="auto" data-full-width-responsive="true"></ins>
								<script>
									(adsbygoogle = window.adsbygoogle || []).push({});
								</script>
							</div>
							<h4 class="relate-calc">금융 관련 계산기</h4>
							<ul class="relate-calc clearfix">
								<li>
									<a href="https://calculator.asamaru.net/계산기/금융/적금-이자-계산/" title="적금 이자 계산기" class="button-default">적금 이자 계산기</a>
								</li>
								<li>
									<a href="https://calculator.asamaru.net/계산기/금융/예금-이자-계산/" title="예금 이자 계산기" class="button-default">예금 이자 계산기</a>
								</li>
								<li>
									<a href="https://calculator.asamaru.net/계산기/금융/중도상환수수료-계산/" title="중도상환수수료 계산기" class="button-default">중도상환수수료 계산기</a>
								</li>
								<li>
									<a href="https://calculator.asamaru.net/계산기/금융/마이너스통장-이자-계산기/" title="마이너스통장(한도대출) 이자 계산기" class="button-default">마이너스통장(한도대출) 이자 계산기</a>
								</li>
							</ul>
						</div>
						<div class="gad-box">
							<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8163803188491150" crossorigin="anonymous"></script>
							<ins class="adsbygoogle" style="display: block" data-ad-client="ca-pub-8163803188491150" data-ad-slot="3301116261" data-ad-format="auto" data-full-width-responsive="true"></ins>
							<script>
								(adsbygoogle = window.adsbygoogle || []).push({});
							</script>
						</div>
					</article>
				</section>
			</div>
			<nav id="sidebar" class="slideout-menu">
				<div class="gad-box d" style="display: block" data-ad-client="ca-pub-8163803188491150" data-ad-slot="sidebar" data-ad-format="auto" data-full-width-responsive="true"><ins class="adsbygoogle"></ins></div>
				<div class="box">
					<h3>계산기</h3>
					<dl class="tags">
						<dt>분야</dt>
						<dd>
							<a href="https://calculator.asamaru.net/계산기/분야/가상화폐/" title="가상화폐 목록보기">
								가상화폐
								<span>(1)</span>
							</a>
						</dd>
						<dd>
							<a href="https://calculator.asamaru.net/계산기/분야/건강/" title="건강 목록보기">
								건강
								<span>(5)</span>
							</a>
						</dd>
						<dd>
							<a href="https://calculator.asamaru.net/계산기/분야/금융/" title="금융 목록보기">
								금융
								<span>(4)</span>
							</a>
						</dd>
						<dd>
							<a href="https://calculator.asamaru.net/계산기/분야/단위변환/" title="단위변환 목록보기">
								단위변환
								<span>(9)</span>
							</a>
						</dd>
						<dd>
							<a href="https://calculator.asamaru.net/계산기/분야/일반/" title="일반 목록보기">
								일반
								<span>(1)</span>
							</a>
						</dd>
					</dl>
					<h3>용어해설</h3>
					<dl class="tags">
						<dt>분야</dt>
						<dd>
							<a href="https://calculator.asamaru.net/용어해설/분야/건강/" title="건강 목록보기">
								건강
								<span>(2)</span>
							</a>
						</dd>
						<dd>
							<a href="https://calculator.asamaru.net/용어해설/분야/단위/" title="단위 목록보기">
								단위
								<span>(2)</span>
							</a>
						</dd>
					</dl>
					<form action="https://www.google.com/search" method="get" target="_blank" class="form-search">
						<fieldset>
							<input type="hidden" name="sitesearch" value="https://calculator.asamaru.net" />
							<legend>검색하기 폼</legend>
							<label>검색하기</label>
							<input type="text" name="q" value="" placeholder="Search" />
						</fieldset>
					</form>
					<ul class="links">
						<li><a href="https://calculator.asamaru.net/archives/" class="text-inverse" title="전체글 보기">전체글 보기</a></li>
						<li class="pipe"></li>
						<li><a href="https://calculator.asamaru.net/atom.xml" class="text-inverse" target="_blank" title="RSS Feed">RSS</a></li>
					</ul>
				</div>
			</nav>
		</section>
		<footer class="bottom">
			Posted by
			<a href="https://docs.google.com/forms/d/e/1FAIpQLSdsefx8At2yOTNyx7xoP9IaFv0odvthnGXMEXG_tKZea_VxMg/viewform?usp=pp_url&entry.316518454=%EA%B3%84%EC%82%B0%EA%B8%B0" title="운영자에게 메일보내기" rel="nofollow" target="_blank"><em>아사마루</em></a>
			&nbsp;&nbsp;&nbsp;
			<a href="https://calculator.asamaru.net/policy/privacy/" target="_blank" title="개인정보처리방침">개인정보처리방침</a>
		</footer>
	</body>
</html>
