<!doctype html>
<html lang="ko">
	<head>
		<meta charset="utf-8" />
		<title>소아청소년 체질량지수 - BMI(비만도) 계산기 - 계산기</title>
		<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width,minimum-scale=1.0,initial-scale=1.0" />
		<link href="//www.googletagmanager.com" rel="dns-prefetch" />
		<link href="//pagead2.googlesyndication.com" rel="dns-prefetch" />
		<link href="//googleads.g.doubleclick.net" rel="dns-prefetch" />
		<meta name="author" content="아사마루" />
		<meta name="keywords" content="비만도,신체질량지수,bmi,Body Mass Index,소아청소년,2017년 소아청소년 성장도표" />
		<meta name="description" content="소아청소년용 신체질량지수 BMI(Body Mass Index)계산기. 체질량지수는 인간의 비만도를 나타내는 지수 중 하나로 체중과 키의 관계로 지방의 양을 추정한 것으로 체지방률 및 건강 위험도를 간접적으로 나타낸다. 소아청소년(만 2세 ~ 18세)의 경우 체질량지수의 한계로 성인과 동일한 기준으로 비만을 판단할 수 없어 소아청소년 성장도표를 기준으로 판단한다." />
		<meta name="referrer" content="always" />
		<meta name="HandheldFriendly" content="True" />
		<meta name="MobileOptimized" content="320" />
		<meta name="theme-color" content="#ee152b" />
		<link rel="shortcut icon" type="image/x-icon" href="https://calculator.asamaru.net/favicon.ico" />
		<link rel="manifest" href="/manifest.json" />
		<link rel="canonical" href="https://calculator.asamaru.net/계산기/건강/소아청소년-체질량지수-bmi-비만도/" />
		<link rel="alternate" type="application/rss+xml" title="계산기" href="https://calculator.asamaru.net/atom.xml" />
		<link rel="apple-touch-icon" sizes="180x180" href="/img/icon/180.png" />
		<link rel="apple-touch-icon" sizes="76x76" href="/img/icon/76.png" />
		<link rel="apple-touch-icon" sizes="120x120" href="/img/icon/120.png" />
		<link rel="apple-touch-icon" sizes="152x152" href="/img/icon/152.png" />
		<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8163803188491150" crossorigin="anonymous"></script>
		<meta property="og:type" content="article" />
		<meta property="og:site_name" content="계산기" />
		<meta property="og:title" content="소아청소년 체질량지수 - BMI(비만도) 계산기" />
		<meta property="og:description" content="소아청소년용 신체질량지수 BMI(Body Mass Index)계산기. 체질량지수는 인간의 비만도를 나타내는 지수 중 하나로 체중과 키의 관계로 지방의 양을 추정한 것으로 체지방률 및 건강 위험도를 간접적으로 나타낸다. 소아청소년(만 2세 ~ 18세)의 경우 체질량지수의 한계로 성인과 동일한 기준으로 비만을 판단할 수 없어 소아청소년 성장도표를 기준으로 판단한다." />
		<meta property="og:url" content="https://calculator.asamaru.net/계산기/건강/소아청소년-체질량지수-bmi-비만도/" />
		<meta property="og:image" content="https://calculator.asamaru.net/img/icon/icon.png" />
		<meta property="article:published_time" content="2025-06-30T17:55:31+09:00" />
		<meta property="article:modified_time" content="2025-06-30T17:55:31+09:00" />
		<meta property="article:author" content="아사마루" />
		<meta property="article:section" content="건강" />
		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:site" content="@asamaru7" />
		<meta name="twitter:title" content="소아청소년 체질량지수 - BMI(비만도) 계산기" />
		<meta name="twitter:description" content="소아청소년용 신체질량지수 BMI(Body Mass Index)계산기. 체질량지수는 인간의 비만도를 나타내는 지수 중 하나로 체중과 키의 관계로 지방의 양을 추정한 것으로 체지방률 및 건강 위험도를 간접적으로 나타낸다. 소아청소년(만 2세 ~ 18세)의 경우 체질량지수의 한계로 성인과 동일한 기준으로 비만을 판단할 수 없어 소아청소년 성장도표를 기준으로 판단한다." />
		<meta property="twitter:image" content="https://calculator.asamaru.net/img/icon/icon.png" />
		<script type="application/ld+json">
			{
				"@context": "https://schema.org",
				"@type": "WebSite",
				"url": "https://calculator.asamaru.net/계산기/건강/소아청소년-체질량지수-bmi-비만도/",
				"headline": "소아청소년 체질량지수 - BMI(비만도) 계산기",
				"author": {
					"@type": "Person",
					"name": "아사마루"
				},
				"datePublished": "2025-06-30T17:55:31+09:00",
				"dateModified": "2025-06-30T17:55:31+09:00",
				"articleSection": "건강",
				"image": {
					"@type": "ImageObject",
					"url": "https://calculator.asamaru.net/img/icon/icon.696.png",
					"width": 696,
					"height": 696
				},
				"publisher": {
					"@type": "Organization",
					"name": "아사마루",
					"logo": {
						"@type": "ImageObject",
						"url": "https://calculator.asamaru.net/img/icon/180.png",
						"width": 180,
						"height": 180
					}
				},
				"mainEntityOfPage": {
					"@type": "WebPage",
					"@id": "https://calculator.asamaru.net/계산기/건강/소아청소년-체질량지수-bmi-비만도/"
				}
			}
		</script>
		<link href="/css/min/3f92732708993b6e6f03e1abb768cf99.css" type="text/css" rel="stylesheet" />
		<script src="/js/min/b265714d731bec29a671a3926b3122b1.js" async type="text/javascript"></script>
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-LP1PXLNX3W"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag() {
				dataLayer.push(arguments);
			}
			gtag("js", new Date());
			gtag("config", "G-LP1PXLNX3W");
		</script>
	</head>
	<body>
		<header class="top">
			<div class="site-profile clearfix">
				<a href="https://calculator.asamaru.net" title="계산기 홈페이지로 이동"><img src="https://calculator.asamaru.net/img/bundled/icon-BmxouxuB.png" width="50" height="50" alt="계산기" /></a>
				<h1><a href="https://calculator.asamaru.net" title="계산기 홈페이지로 이동">계산기</a></h1>
				<p>일상생활에 필요한 다양한 계산기</p>
				<button type="button" class="btn-slide" data-sidebar="toggle"></button>
			</div>
		</header>
		<section class="main-body clearfix">
			<div class="main-box">
				<section id="main-panel">
					<article id="article" class="article hentry calculator">
						<div class="title">
							<h2 class="entry-title daum-wm-title">소아청소년 체질량지수 - BMI(비만도) 계산기</h2>
							<a href="https://calculator.asamaru.net/계산기/분야/건강/" rel="tag" title="건강 목록보기">건강</a>
							<time class="published hide" datetime="2025-06-30T17:55:31+09:00">2025.06.30. 17:55</time>
							<time class="updated hide daum-wm-datetime" datetime="2025-06-30T17:55:31+09:00">2025.06.30. 17:55</time>
							<span class="vcard author hide"><span class="fn">아사마루</span></span>
						</div>
						<div class="entry-content daum-wm-content">
							<section class="calculator">
								<div class="gad-box"><vue-adsense data-ad-client="ca-pub-8163803188491150" data-ad-slot="5544136225" data-ad-format="auto" data-full-width-responsive="true"></vue-adsense></div>
								<p class="help">
									성인의 경우
									<a href="/계산기/건강/체질량지수-bmi-비만도/">체질량지수 - BMI(비만도) 계산기</a>
									를 사용
								</p>
								<div class="form-box">
									<form class="calc" v-on:submit.prevent="calc">
										<fieldset class="container">
											<div class="sex">
												<label>
													<input type="radio" name="sex" value="man" v-model="sex" />
													남아
												</label>
												<label>
													<input type="radio" name="sex" value="woman" v-model="sex" />
													여아
												</label>
											</div>
											<div class="row">
												<div class="column height">
													<label>
														<span>신장</span>
														<input type="number" v-model="height" />
													</label>
												</div>
												<div class="column weight">
													<label>
														<span>체중</span>
														<input type="number" v-model="weight" />
													</label>
												</div>
												<div class="column age">
													<label>
														<span>개월수</span>
														<select v-model="age">
															<optgroup v-for="(group, year) in ages" :label="year+'세'">
																<option v-for="(option, month) in group" :value="month">{{month}}개월</option>
															</optgroup>
														</select>
													</label>
												</div>
											</div>
											<div class="buttons">
												<input class="button-primary" type="submit" value="계산" />
												<input class="button button-outline" type="button" value="초기화" v-on:click="reset" />
											</div>
										</fieldset>
									</form>
									<a id="results-anchor"></a>
									<div class="results" v-cloak v-show="value > 0">
										<health-calculator-results title="BMI" :value="value" :data="gaugeData" guide-title="비만" v-on:update:grade="updateGrade"></health-calculator-results>
										<div class="notice">
											<span>{{sexName}}</span>
											({{ageName}}) 상위
											<span>{{bmiPercent}}%</span>
											({{grade}})
											<p>* 상위 {{bmiPercent}}%란, 동일 연령대 100명을 기준으로 작은 순을 1번으로 하였을 때 {{bmiPercent}}번째를 의미</p>
										</div>
										<div class="offer">
											<span>
												<a href="https://www.kosso.or.kr/" rel="nofollow" target="_blank">대한비만학회</a>
												비만치료지침(2020),
											</span>
											<span><a href="/용어해설/건강/2017년-소아청소년-성장도표-연령별-체질량지수/">2017년 소아청소년 성장도표</a></span>
										</div>
									</div>
								</div>
								<div class="gad-box"><vue-adsense data-ad-client="ca-pub-8163803188491150" data-ad-slot="2371177971" data-ad-format="auto" data-full-width-responsive="true"></vue-adsense></div>
								<div class="description">
									<p>
										<a href="/용어해설/건강/체질량지수-bmi/">체질량지수</a>
										는 인간의 비만도를 나타내는 지수 중 하나로 체중과 키의 관계로 지방의 양을 추정한 것으로 체지방률 및 건강 위험도를 간접적으로 나타낸다.
									</p>
									<p>
										소아청소년(만 2세 ~ 18세)의 경우 체질량지수의 한계로 성인과 동일한 기준으로 비만을 판단할 수 없다. 따라서
										<a href="https://www.kosso.or.kr/" rel="nofollow" target="_blank">대한비만학회</a>
										의 비만치료지침(2020)에 따르면 소아청소년의 경우 아래의 기준 조건으로 비만을 판정한다.
									</p>
									<ol>
										<li>
											만2세 이상의 소아청소년 비만을 진단할 때는
											<a href="/용어해설/건강/2017년-소아청소년-성장도표-연령별-체질량지수/">2017년 소아청소년 성장도표</a>
											를 기준으로 연령별, 성별 체질량지수 백분위수를 사용한다.
										</li>
										<li>체질량지수 95 백분위수 이상을 비만으로 진단하고 85~94 백분위수는 과체중으로 판정한다.</li>
										<li>또한, 비만에 해당하는 체질량지수 95 백분위수의 120~139%를 2단계 비만으로 140% 이상을 3단계 비만으로 판정할 수 있다.</li>
									</ol>
								</div>
							</section>
							<div class="share-sns twitter facebook googleplus band line kakaotalk" data-kakao-api="a5a449c01651dea0336cf0e0d1fdc54c" data-facebook-app-id="1874593759230150"></div>
							<div class="nv-openmain" data-title="각종계산기" data-url="https://calculator.asamaru.net" data-type="W2"></div>
							<script async type="text/javascript" src="https://openmain.pstatic.net/js/openmain.js"></script>
							<div class="gad-box">
								<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8163803188491150" crossorigin="anonymous"></script>
								<ins class="adsbygoogle" style="display: block" data-ad-client="ca-pub-8163803188491150" data-ad-slot="8587858699" data-ad-format="auto" data-full-width-responsive="true"></ins>
								<script>
									(adsbygoogle = window.adsbygoogle || []).push({});
								</script>
							</div>
							<h4 class="relate-calc">건강 관련 계산기</h4>
							<ul class="relate-calc clearfix">
								<li>
									<a href="https://calculator.asamaru.net/계산기/건강/체질량지수-bmi-비만도/" title="체질량지수 - BMI(비만도) 계산기" class="button-default">체질량지수 - BMI(비만도) 계산기</a>
								</li>
								<li>
									<a href="https://calculator.asamaru.net/계산기/건강/소아청소년-체질량지수-bmi-비만도/" title="소아청소년 체질량지수 - BMI(비만도) 계산기" class="button-default">소아청소년 체질량지수 - BMI(비만도) 계산기</a>
								</li>
								<li>
									<a href="https://calculator.asamaru.net/계산기/건강/표준체중/" title="표준체중 계산기" class="button-default">표준체중 계산기</a>
								</li>
								<li>
									<a href="https://calculator.asamaru.net/계산기/건강/허리둘레-신장-비율-WHtR/" title="허리둘레 / 신장 비율(WHtR) 계산기" class="button-default">허리둘레 / 신장 비율(WHtR) 계산기</a>
								</li>
								<li>
									<a href="https://calculator.asamaru.net/계산기/건강/허리둘레-엉덩이둘레-비율-WHR/" title="허리둘레 / 엉덩이둘레 비율(WHR) 계산기" class="button-default">허리둘레 / 엉덩이둘레 비율(WHR) 계산기</a>
								</li>
							</ul>
						</div>
						<div class="gad-box">
							<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8163803188491150" crossorigin="anonymous"></script>
							<ins class="adsbygoogle" style="display: block" data-ad-client="ca-pub-8163803188491150" data-ad-slot="3301116261" data-ad-format="auto" data-full-width-responsive="true"></ins>
							<script>
								(adsbygoogle = window.adsbygoogle || []).push({});
							</script>
						</div>
					</article>
				</section>
			</div>
			<nav class="slideout-menu" data-sidebar-position="right">
				<div class="slide-close clearfix">
					<button data-sidebar="close"></button>
				</div>
				<div class="gad-box d" style="display: block" data-ad-client="ca-pub-8163803188491150" data-ad-slot="5666181880" data-ad-format="auto" data-full-width-responsive="true"><ins class="adsbygoogle"></ins></div>
				<div class="box">
					<h3>계산기</h3>
					<dl class="tags">
						<dt>분야</dt>
						<dd>
							<a href="https://calculator.asamaru.net/계산기/분야/가상화폐/" title="가상화폐 목록보기">
								가상화폐
								<span>(1)</span>
							</a>
						</dd>
						<dd>
							<a href="https://calculator.asamaru.net/계산기/분야/건강/" title="건강 목록보기">
								건강
								<span>(5)</span>
							</a>
						</dd>
						<dd>
							<a href="https://calculator.asamaru.net/계산기/분야/금융/" title="금융 목록보기">
								금융
								<span>(4)</span>
							</a>
						</dd>
						<dd>
							<a href="https://calculator.asamaru.net/계산기/분야/단위변환/" title="단위변환 목록보기">
								단위변환
								<span>(9)</span>
							</a>
						</dd>
						<dd>
							<a href="https://calculator.asamaru.net/계산기/분야/일반/" title="일반 목록보기">
								일반
								<span>(1)</span>
							</a>
						</dd>
					</dl>
					<h3>용어해설</h3>
					<dl class="tags">
						<dt>분야</dt>
						<dd>
							<a href="https://calculator.asamaru.net/용어해설/분야/건강/" title="건강 목록보기">
								건강
								<span>(2)</span>
							</a>
						</dd>
						<dd>
							<a href="https://calculator.asamaru.net/용어해설/분야/단위/" title="단위 목록보기">
								단위
								<span>(2)</span>
							</a>
						</dd>
					</dl>
					<form action="https://www.google.com/search" method="get" target="_blank" class="form-search">
						<fieldset>
							<input type="hidden" name="sitesearch" value="https://calculator.asamaru.net" />
							<legend>검색하기 폼</legend>
							<label>검색하기</label>
							<input type="text" name="q" value="" placeholder="Search" />
						</fieldset>
					</form>
					<ul class="links">
						<li><a href="https://calculator.asamaru.net/archives/" class="text-inverse" title="전체글 보기">전체글 보기</a></li>
						<li class="pipe"></li>
						<li><a href="https://calculator.asamaru.net/atom.xml" class="text-inverse" target="_blank" title="RSS Feed">RSS</a></li>
					</ul>
				</div>
			</nav>
		</section>
		<footer class="bottom">
			Posted by
			<a href="https://docs.google.com/forms/d/e/1FAIpQLSdsefx8At2yOTNyx7xoP9IaFv0odvthnGXMEXG_tKZea_VxMg/viewform?usp=pp_url&entry.316518454=%EA%B3%84%EC%82%B0%EA%B8%B0" title="문의하기" rel="nofollow" target="_blank"><em>아사마루</em></a>
			&nbsp;&nbsp;&nbsp;
			<a href="https://calculator.asamaru.net/policy/privacy/" target="_blank" title="개인정보처리방침">개인정보처리방침</a>
		</footer>
	</body>
</html>
